html {
  height: 100%;
  width: 100%;
  font-family: system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF5E6;
  width: 100%;
}

.cell {
  display: block;
  border: 1px solid red;
  max-width: 1400px;
  margin: auto;
}

.cell-three {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0vh;
  height: 100vh;
  transition: ease-in-out 0.1s;
  z-index: 1;
  transition: transform 0.1s linear;
  /* pointer-events: none; */
}

.cell canvas {
  touch-action: auto !important;
}

.splash {
  position: relative;
  height: 140dvh;
  width: 100%;
  border: 2px solid #d1d1d1;
}

.dive {
  position: relative;
  height: 200vh;
  width: 100%;
  border: 2px solid #d1d1d1;
}

.zoom-out {
  position: relative;
  height: 140vh;
  width: 100%;
  border: 2px solid #d1d1d1;
}

.transition-spacer {
  height: 50vh;
}

.human {
  position: relative;
  height: 500vh;
  width: 100%;
}

.human-three {
  position: sticky;
  height: 100vh;
  top: 0;
  margin: 0;
  transition: transform 0.1s linear;
  opacity: 0;
}